---
import BaseLayout from '../layouts/BaseLayout.astro';
import SocialList from "../components/SocialList.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = ""
---
<BaseLayout pageTitle={pageTitle}>
	<section>
		<h1 class="title mb-6">¡Hola Mundo!</h1>
		<p class="mb-4">
			Hola a todos, soy Emilio, un joven de 26 años aficionado de fotografía analógica y los juegos
			y los temas interesantes sobre tecnologías.Este blog es un espacio para compartir mis
			experiencias y pensamientos. Es un lugar donde puedo conectar con ustedes y donde podemos
			aprender unos de otros.
		</p>
		
	</section>
	<SocialList/>
</BaseLayout>
