---
/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/MilioQ",
		name: "mdi:github",
	},
];
const props = Astro.props;
---


<h1 style="text-align: center;">Encuentrame en:</h1>
<div class="flex flex-wrap items-center gap-x-5 pb-10" style="justify-content: center">
<a class="Btn" href="https://open.spotify.com/playlist/5KNCFNrz5GYEsGfanmwz8i?si=ceb73784d3fb4c5c" >
	<span class="svgContainer">
		<svg
			viewBox="0 0 496 512"
			height="1.6em"
			xmlns="http://www.w3.org/2000/svg"
			fill="white"
		>
			<path
				d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z"
			></path>
		</svg>
	</span>
	<span class="BG"></span>
</a>

<a class="Btn" href="https://www.instagram.com/lgsus.dev/">
	<span class="svgContainer">
		<svg
			fill="white"
			class="svgIcon"
			viewBox="0 0 448 512"
			height="1.5em"
			xmlns="http://www.w3.org/2000/svg"
			><path
				d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
			></path></svg
		>
	</span>
	<span class="BG"></span>
</a>

<a class="Btn" href="https://www.linkedin.com/in/emilioquinteroa/">
	<span class="svgContainer">
		<svg
			fill="white"
			viewBox="0 0 24 24"
			height="24"
			width="24"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
			></path>
		</svg>
	</span>
	<span class="BG"></span>
</a>

<a class="Btn" href="https://github.com/MilioQ">
	<span class="svgContainer">
		<svg fill="white" viewBox="0 0 496 512" height="1.6em"
			><path
				d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
			></path></svg
		>
	</span>
	<span class="BG"></span>
</a>




<a class="Btn" href="https://x.com/ExilioQA">
	<span class="svgContainer">
		<svg
			viewBox="0 0 16 16"
			height="24"
			width="24"
			xmlns="http://www.w3.org/2000/svg"
			fill="white">
			
			<path fill="#ffffff" d="M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843z" />
		</svg>
	</span>
	<span class="BG"></span>
</a>
</div>
<style>
	.LinkedinBtn {
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: transparent;
		position: relative;
		border-radius: 7px;
		cursor: pointer;
		transition: all 0.3s;
	}

	.LinkedinBtn .svgContainer {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		backdrop-filter: blur(4px);
		letter-spacing: 1px; /* Adjusted letter spacing */
		border-radius: 10px;
		transition: all 0.3s;
		border: 1px solid rgba(156, 156, 156, 0.466);
	}

	.LinkedinBtn .BG {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: #000;
		z-index: -1;
		border-radius: 9px;
		pointer-events: none;
		transition: all 0.3s;
	}

	.LinkedinBtn:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow effect */
	}

	.LinkedinBtn:hover .BG {
		transform: rotate(35deg);
		transform-origin: bottom;
	}

	.LinkedinBtn:hover .svgContainer {
		background-color: rgba(156, 156, 156, 0.466);
	}

	.Btn {
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: transparent;
		position: relative;
		/* overflow: hidden; */
		border-radius: 7px;
		cursor: pointer;
		transition: all 0.3s;
		margin-top: 1rem;
	}

	.svgContainer {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		backdrop-filter: blur(0px);
		letter-spacing: 0.8px;
		border-radius: 10px;
		transition: all 0.3s;
		border: 1px solid rgba(156, 156, 156, 0.466);
	}

	.BG {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: rgb(20, 20, 20);
		z-index: -1;
		border-radius: 10px;
		pointer-events: none;
		transition: all 0.3s;
	}

	.Btn:hover .BG {
		transform: rotate(35deg);
		transform-origin: bottom;
	}

	.Btn:hover .svgContainer {
		background-color: rgba(207, 207, 207, 0.466);
		backdrop-filter: blur(4px);
	}
</style>
